:root {
    --header-height: 64px;
    --sidebar-width: 280px;
}

.layout-wrapper {
    min-height: 100vh;
    display: flex;
}

.main-content {
    flex: 1;
    margin-left: var(--sidebar-width);
    margin-top: var(--header-height);
    min-height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
    padding: 20px;
}

/* Ajustes para el Header */
.navbar {
    width: calc(100% - var(--sidebar-width));
    margin-left: var(--sidebar-width);
    z-index: 1030;
}

/* Ajustes para el Sidebar */
.bg-white.h-100.border-end {
    top: 0;
    left: 0;
    bottom: 0;

}

/* Ajustes para el Footer */
.footer {
    width: 100%;
    background-color: white;
}

/* Media queries para responsividad */
@media (max-width: 992px) {
    :root {
        --sidebar-width: 0px;
    }

    .navbar {
        width: 100%;
        margin-left: 0;
    }

    .main-content {
        margin-left: 0;
    }

    .bg-white.h-100.border-end {
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .bg-white.h-100.border-end.show {
        transform: translateX(0);
    }
}